<?xml version="1.0"?>
<launch>

<!-- Edit this part with your own algorithms -->
  <node name="example_control_node" pkg="khnp_competition" type="example_control_code.py"/>



<!-- Do not touch below!!!!!!!! -->
 <!-- course changing is only allowed for competition managers -->
  <arg name="course" default="practice"/> <!-- practice: open source for participants, real: not open -->

  <rosparam if="$(eval arg('course') == 'practice')" command="load" file="$(find khnp_competition)/resources/practice.yaml" />
  <rosparam if="$(eval arg('course') == 'real')" command="load" file="$(find khnp_competition)/resources/real.yaml" />

  <!--  MAIN code -->
  <param name="/img_width" value="480"/> <!-- only for visualization, not for real image width -->
  <param name="/img_height" value="360"/> 
  <param name="/first_cam_topic" value="/d435i/stereo_ir/left/image_raw/compressed"/>
  <param name="/third_cam_topic" value="/third_camera/rgb/image_raw/compressed"/>
  <param name="/third_cam_name" value="third_camera"/>
  <param name="/robot_name" value="iris"/>

  <node name="khnp_competition_code" pkg="khnp_competition" type="khnp_competition_node" output="screen"/>
  <!-- launch-prefix="gdb -ex run --> <!--args" -->
  <node name="khnp_competition_spawner" pkg="khnp_competition" type="spawning.py" output="screen"/>
  <node name="khnp_competition_tf_broadcaster" pkg="khnp_competition" type="tf_broadcaster.py"/>

</launch>
